.projects {
  margin: 1rem;
}

.projects--list {
  margin: 0 0 2rem 0;
  list-style-type: none;
  padding: 0;
}

.projects--project {
  cursor: pointer;
  background-color: #EEE;
  padding: .5rem .5rem;
  border-bottom: 0.1rem solid #DDD;
  -webkit-transition: background-color 0.5s, color 0.5s;
	-moz-transition: background-color 0.5s, color 0.5s;
	transition: background-color 0.5s, color 0.5s;
}

.projects--project:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1rem;
}