.projectNav {
  height: 100%;
  background-color: #888;
  border-right: 0.3rem solid #ccc;
}

.projectNav--item {
  text-transform: uppercase;
  text-align: left;
  padding: 0.5rem 0.75rem 0.5rem 0.75rem;
  border-bottom: 0.05rem solid #aaa;
  cursor: pointer;
  color: #eee;
}

.projectNav--item:hover {
  background-color: #555;
}

.projectNav--active {
  background-color: #555;
}