.projectNav {
  height: 100%;
  background-color: #333;
  border-right: 1rem solid #ccc;
}

.projectNav--list {
  padding-top: 0.5rem;
}

.projectNav--item {
  margin-bottom: 1.5rem;
  text-transform: uppercase;
  text-align: left;
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}

.projectNav--link {
  color: #aaa;
  text-decoration: none;
}

.projectNav--link:hover {
  text-decoration: underline;
}

.projectNav--active {
  text-decoration: underline;
}