<nav class="l-col projectNav">
  <ul class="projectNav--list">
    <li [ngClass]="{'projectNav--active': active==='ProjectDetail'}" (click)="goTo(['ProjectDetail', {id:id}])" class="projectNav--item">Accueil</li>
    <li [ngClass]="{'projectNav--active': active==='Characters'}" class="projectNav--item" (click)="goTo(['Characters', {id:id}])">Personnages</li>
    <li [ngClass]="{'projectNav--active': active==='Locations'}" class="projectNav--item" (click)="goTo(['Locations', {id:id}])">Lieux</li>
    <li [ngClass]="{'projectNav--active': active==='Chapters'}" class="projectNav--item" (click)="goTo(['Chapters', {id:id}])">Chapitres</li>
  </ul>
</nav>