.main {
    background-color: #eee;
    padding: 0.5rem;
    border-bottom: 0.1rem solid #ccc;
}

.mainTitle {
    font-size: 1.7rem;
    margin: 0;
}

.mainNav {
    padding: 0.5rem;
    width: 100%;
    margin-left: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.mainNav--link {
    text-decoration: none;
    color: #111;

}

.mainNav--link:hover {
    text-decoration: underline;
}