<div class="characters l-grid">
  <project-nav *ngIf="id" [id]="id" [active]="'Characters'"></project-nav>

  <div class="l-col">
    <h2>Personnages</h2>
    <div *ngIf="errorMessage">
      Une erreur est survenue : {{errorMessage}}
    </div>

    <button class="button button-add" (click)="createNewCharacter()">+</button>
    <div class="js-newCharacter" *ngIf="creatingNew">
      <input type="text" name="name" placeholder="Nom du personnage" [(ngModel)]="character.name">
      <button (click)="saveCharacter()">Créer</button>
    </div>
    <ul class="characters">
      <li *ngFor="let character of characters" class="characters--character" (click)="onSelect(character)">{{character.name}}</li>
    </ul>
  </div>
</div>