<div class="l-grid chapterDetail">
  <project-nav [id]="projectId" [active]="'Chapters'"></project-nav>

  <div class="l-col" *ngIf="chapter">
    <h2>Chapitre</h2>
    <div *ngIf="errorMessage">
      Une erreur est survenue : {{errorMessage}}
    </div>

    <form class="chapterDetail--form">
      <label for="title" class="label">Titre : </label>
      <input class="input" [(ngModel)]="chapter.title" id="title" placeholder="Titre" />

      <input type="submit" value="Enregistrer" (click)="saveChapter()">
    </form>

    <h3>Scènes</h3>
    <ul class="chapterDetail--scenes">
      <li *ngFor="let scene of scenes" class="chapterDetail--scenes--scene">
        <scene [scene]="scene"></scene>
      </li>
      <li class="chapterDetail--scenes--scene">
        <div class="chapterDetail--scenes--left"></div>
        <div class="chapterDetail--scenes--main chapterDetail--scenes--main-empty"></div>
        <div class="chapterDetail--scenes--right">
          <scene-add [pos]="'last'" (added)="addScene($event)"></scene-add>
        </div>
      </li>
    </ul>
  </div>

</div>