<div class="l-grid projectDetail">
  <project-nav *ngIf="project" [id]="project._id" [active]="'ProjectDetail'"></project-nav>

  <div *ngIf="project" class="l-col">
    <h2>{{project.name}}</h2>
    <div *ngIf="errorMessage">
      Une erreur est survenue : {{errorMessage}}
    </div>
    <form class="projectDetail--form">
      <label for="name" class="label">Nom : </label>
      <input class="input" [(ngModel)]="project.name" id="name" placeholder="Nom" />

      <label for="type" class="label">Type :</label>
      <select class="input" [(ngModel)]="project.type" id="type">
        <option value="NOVEL">Roman</option>
        <option value="SHORT_STORY">Nouvelle</option>
      </select>

      <input class="button button-submit" type="submit" value="Enregistrer" (click)="saveProject()">
    </form>
  </div>
</div>